<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298717650937-c8ij2qdmnda5f4okdsdoj7jpg083n181.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298717650937-c8ij2qdmnda5f4okdsdoj7jpg083n181</string>
	<key>API_KEY</key>
	<string>AIzaSyCYb2tU4jCjkjzaiyiCwosPT9fF7-w_FUo</string>
	<key>GCM_SENDER_ID</key>
	<string>298717650937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datingapp</string>
	<key>PROJECT_ID</key>
	<string>boardgamesdatingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>boardgamesdatingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298717650937:ios:e574ad46b9a80c4fe2a728</string>
	<key>DATABASE_URL</key>
	<string>https://boardgamesdatingapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>